<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Propietarios</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Lista de Propietarios</h1>
    <a th:href="@{/owners/new}" class="btn btn-primary">Nuevo Propietario</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.name}"></td>
            <td th:text="${owner.email}"></td>
            <td>
                <a th:href="@{/owners/{id}(id=${owner.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/owners/delete/{id}(id=${owner.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>